.about-us{
    text-align:center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.welcome{
    text-align:center;
    float: top;
    color: white;
    background-image: url(./assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.services{
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 90px;
}
#one{
    float: left;
    padding-top:80px;
}

#bottom{
    padding-bottom: 200px;
}
#mouse{
    padding-bottom: 30px;
}
.what-we-do{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 0px;
}
.product > p{
    display: inline-block;

    
}
